<div class="page-header">
  <%= link_to new_admin_podcast_path, class: 'btn btn-success pull-right' do %>
    <i class="glyphicon glyphicon-plus"></i>
    New Podcast
  <% end %>
  <h1>Podcasts</h1>
</div>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Created at</th>
      <th>Published at</th>
      <th>Published?</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @podcasts.each do |podcast| %>
      <tr>
                <td><%= link_to podcast.title, [:admin, podcast] %></td>
                <td><%= link_to truncate(sanitize(podcast.description)), [:admin, podcast] %></td>
                <td><%= link_to podcast.created_at, [:admin, podcast] %></td>
                <td><%= link_to podcast.published_at, [:admin, podcast] %></td>
                <td>
                  <%= link_to [:admin, podcast] do %>
                    <% if podcast.published %>
                      <i class="glyphicon glyphicon-ok text-success"></i>
                    <% else %>
                      <i class="glyphicon glyphicon-remove text-danger"></i>
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <%= link_to [:admin, podcast] do %>
                    <% if podcast.processing? %>
                      <i class="glyphicon glyphicon-refresh text-warning"></i>
                    <% elsif podcast.success? %>
                      <i class="glyphicon glyphicon-ok text-success"></i>
                    <% elsif podcast.broken? %>
                      <i class="glyphicon glyphicon-warning-sign text-danger"></i>
                    <% end %>
                  <% end %>
                </td>

                <td class="text-right">
          <%= link_to 'Edit', edit_admin_podcast_path(podcast), class: 'btn btn-primary' %>
        </td>
        <td class="text-right">
          <%= link_to 'Destroy', [:admin, podcast], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col-md-8">
    <%= paginate @podcasts, theme: 'admin-bootstrap' %>
  </div>
  <div class="col-md-4 text-right">
    <div class="btn-group per-page">
     <% [ 10, 25, 100, 250, 500, 1000 ].each do |i| %>
      <%= link_to i, params.merge(page: 1, per_page: i), class: "btn #{per_page_class(Podcast, i)}" %>
    <% end %>
    </div>
  </div>
</div>
