!!!
%html
  %head
    %title= application_title
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .container.container-static
      %header.card
        %a{href: root_path}
          %h1
            Nerdblog
            %b<>
              \.pl
            %span ( podcast )
      = yield