!!!
%html
  %head
    %title= application_title
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = auto_discovery_link_tag :rss, feed_url, {title: 'Subskrybuj tę witrynę poprzez RSS 2.0'}
  %body
    .container.container-static
      %header.card
        %a{href: root_path}
          %h1
            Nerdblog
            %b<>
              \.pl
            %span ( podcast )
      = yield

      %footer.copyright.text-center<>
        %span<>
          %a{href: 'http://nerdblog.pl'}<> &copy; Nerdblog.pl
        %span<>
          %a{href: feed_url}<> RSS
        %span<>
          %a{href: 'http://twitter.com/nerdblogpl'}<> Twitter

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-12883209-3', 'auto');
      ga('send', 'pageview');

    :plain
      <script type="text/javascript">var switchTo5x=true;</script>
      <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
      <script type="text/javascript">stLight.options({publisher: "14e328fb-f794-47a0-a912-18d16c5232e4", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

